<h1>Posts</h1>

<div>
  <h3>What's in your mind?<h3>
  <%= form_for :post, url: "/posts" do |f| %>
    <%= f.text_area :post, class: "post_text", cols: 40, rows: 5 %><br />
    <%= f.submit "share" %>
  <% end %>
</div>

<% @posts.each do |post| %>
  <strong><%= post.user.name %></strong><br />
  <small><%= post.post %></small>
  <%= link_to "Delete post",post_path(post) ,method: :delete %>
<% end %>
